html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.stage {
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.wrap {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  top: 0;
}